.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .form-container {
    text-align: center;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
    margin-bottom: 20px;
    color: #333;
    }
    
    .form-group {
    margin-bottom: 15px;
    text-align: left;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    input:focus {
    outline: none;
    border-color: #000;
    }
    
    .btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }
    
    .btn:hover {
    background-color:var(--dark-blue);
    }
    .btn:disabled{
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    }
    
    span {
    color: #007bff;
    cursor: pointer;
    }
    
    span:hover {
    text-decoration: underline;
    }